.text {
    position: absolute;
    top: 4px;
    left: 4px;
}
embed {
    height: 800px;
    width: 300px;
}
iframe {
    width: 900px;
    height: 596px;
    border: 0px;
    border-radius: 0px;
    margin-top: 20px;
}
.border {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000;
    width: 60px;
    height: 800px;
    border: none;
    padding: 50px;
    border-radius: 0px;
}
