.text {
    position: absolute;
    top: 4px;
    left: 4px;
}
embed {
    height: 800px;
    width: 300px;
}
iframe {
    width: 900px;
    height: 600px; /* Old 596px */
    border: 0px;
    border-radius: 0px;
    margin-top: 20px;
} 
@media screen and (min-width: 1350px) {
    iframe {
        width: 1200px;
        height: 800px; /* Old 596px */
        border: 0px;
        border-radius: 0px;
        margin-top: 20px;
    }
  }
.border {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000;
    width: 70px;
    height: 1000px;
    border: none;
    padding: 50px;
    border-radius: 0px;
}